

.header {
  position: fixed; /* Stick the navbar to the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left edge */
  width: 100%; /* Full width of the viewport */
  background-color: #060606; /* Background color for visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better separation */
  z-index: 1000; /* Ensure it stays above other content */
  padding: 10px 20px; /* Adjust padding as needed */
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

a > span, AppsIcon {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: rgb(117, 184, 246);
}

.header__icon {
  width: 80px;
  cursor: pointer;
}


.headerRight {
  display: flex;
  align-items: center;
}

.searchBar {
  flex: 1;
  padding: 8px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchIcon {
  background-color: #ccc;
  border-radius: 0 4px 4px 0;
}

.searchResults {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-top: 5px;
  z-index: 1000;
}

.searchResultItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: black;
  text-decoration: none;
  display: block;
}

.searchResultItem:hover {
  background: #f0f0f0;
}

.noResults {
  padding: 10px;
  color: #999;
}
